# Binaries
/bin/
/ytm
/ytm-tui
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Downloads cache
/downloads/*
!/downloads/.gitkeep

# Local runtime
/tmp/
/ytm-api/venv/
.release-api/

.build_assets/

# OS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp

__pycache__/
